/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #F8524B;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #F8524B, 0 0 5px #F8524B;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 20px;
  right: 20px;
}

#nprogress .spinner-icon {
  width: 24px;
  height: 24px;
  box-sizing: border-box;

  border: solid 3px transparent;
  border-top-color: #F8524B;
  border-left-color: #F8524B;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  #nprogress .spinner {
    display: none;
  }
  #nprogress .spinner-icon {
    display: none;
  }
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0.4;
}

* {
  margin: 0
}

.span-bold {
  font-weight: bold;
  font-size: 1.5rem;
}